# Aggregate and groupby

In [47]:
import numpy as np
import pandas as pd

In [58]:
df=pd.read_csv('F:/Python/Refrence/googleplaystore3-1.csv',na_values='#')

In [3]:
df.columns

Index(['X', 'App', 'Category', 'Rating', 'Reviews', 'Type', 'Last.Updated',
       'Installs'],
      dtype='object')

In [4]:
df1=df.loc[:,['Rating','Reviews']]

In [5]:
df1

       Rating   Reviews
0         4.1     159.0
1         3.9     967.0
2         4.7   87510.0
3         4.5  215644.0
4         4.3     967.0
...       ...       ...
10834     4.5      38.0
10835     5.0       4.0
10836     NaN       3.0
10837     4.5     114.0
10838     4.5  398307.0

[10839 rows x 2 columns]

In [6]:
df1.agg(np.mean,axis=0)
#.agg(fun,axis) applies a function to rows or columns of a dataframe.
#Compute the mean of each variable (each column)

Rating          4.191757
Reviews    447611.356236
dtype: float64

In [7]:
df1.agg(np.sum,axis=1)
#Computes the summation of Rating and Reviews for each row. 
#axis=1 means than apply the function on each row

0           163.1
1           970.9
2         87514.7
3        215648.5
4           971.3
           ...
10834        42.5
10835         9.0
10836         3.0
10837       118.5
10838    398311.5
Length: 10839, dtype: float64

In [11]:
fg=df1.agg(['sum','min','max'])#Applies some functions on both variables
fg

      Rating       Reviews
sum  39260.0  4.762137e+09
min      1.0  0.000000e+00
max      5.0  7.815831e+07

In [12]:
fg.loc['sum','Rating']

39260.0

In [14]:
fg.iloc[0,0]#equal above

39260.0

In [15]:
df1.agg(['sum','min','max']).loc['max','Rating']#equal fg.iloc[2,0]

5.0

In [59]:
df.loc[:5,'Last.Updated']# this column is not date

0     1/7/2018
1    1/15/2018
2     8/1/2018
3     6/8/2018
4    6/20/2018
5    3/26/2017
Name: Last.Updated, dtype: object

In [60]:
#Change the Last.Updated column to dates
df['Last.Updated']=df['Last.Updated'].agg(pd.Timestamp)

In [61]:
df.loc[:5,'Last.Updated']

0   2018-01-07
1   2018-01-15
2   2018-08-01
3   2018-06-08
4   2018-06-20
5   2017-03-26
Name: Last.Updated, dtype: datetime64[ns]

In [17]:
#Aggregate with dictionary
df2=df.agg({'Reviews':['sum','min'],
        'Rating':['mean','max']})
df2

           Reviews    Rating
max            NaN  5.000000
mean           NaN  4.191757
min   0.000000e+00       NaN
sum   4.762137e+09       NaN

In [18]:
def interval(x):
    x=pd.Timestamp(x)
    interval=(x.now()-x).days
    return(interval)

In [19]:
# Also we can aggregate our function
df['Updates']=df['Last.Updated'].agg(interval)#Add a column to the dateframe called "Updates"

In [21]:
df.columns

Index(['X', 'App', 'Category', 'Rating', 'Reviews', 'Type', 'Last.Updated',
       'Installs', 'Updates'],
      dtype='object')

# 'Group the dataframe and then groupby'

In [25]:
df['Type'].unique()

array(['Free', 'Not Available', 'Paid'], dtype=object)

In [26]:
df.loc[df['Type'].isna(),'Type']='Not Available'#Change the missing values of Type col to a category

In [27]:
df['Type'].value_counts()

Free             9671
Paid              768
Not Available     400
Name: Type, dtype: int64

In [28]:
df2=df.groupby('Type')#Group the data based on the variable Type

In [29]:
df2.count()# Show all col in each level

,X,App,Category,Rating,Reviews,Last.Updated,Installs,Updates
Type,,,,,,,,
Free,9671,9671,9671,8404,9492,9671,9671,9671
Not Available,400,400,400,343,395,400,400,400
Paid,768,768,768,619,752,768,768,768

In [30]:
df2.get_group('Free')#get al

,X,App,Category,Rating,Reviews,Type,Last.Updated,Installs,Updates
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,Free,1/7/2018,"10,000+",864
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,Free,1/15/2018,"500,000+",856
2,2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,Free,8/1/2018,"5,000,000+",658
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,Free,6/8/2018,"50,000,000+",712
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,Free,6/20/2018,"100,000+",700
...,...,...,...,...,...,...,...,...,...
10833,10835,FR Forms,BUSINESS,NaN,0.0,Free,9/29/2016,"1,000+",1329
10834,10836,Sya9a Maroc - FR,FAMILY,4.5,38.0,Free,7/25/2017,500+,1030
10835,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4.0,Free,7/6/2018,10+,684
10837,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114.0,Free,1/19/2015,100+,1948
10838,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307.0,Free,7/25/2018,"1,000+",665

In [31]:
df2.columns# we could not get some methods from DataFameGroupby directly

AttributeError: 'DataFrameGroupBy' object has no attribute 'columns'

In [33]:
df2.count().columns

Index(['X', 'App', 'Category', 'Rating', 'Reviews', 'Last.Updated', 'Installs',
       'Updates'],
      dtype='object')

In [37]:
df.count().index

Index(['X', 'App', 'Category', 'Rating', 'Reviews', 'Type', 'Last.Updated',
       'Installs', 'Updates'],
      dtype='object')

In [38]:
df.count().sort_values

<bound method Series.sort_values of X               10839
App             10839
Category        10839
Rating           9366
Reviews         10639
Type            10839
Last.Updated    10839
Installs        10839
Updates         10839
dtype: int64>

In [42]:
#Groupby and then Create MultiIndex
df3=df2.agg({"Rating":['mean','std'],"Reviews":['mean','std']}) 
df3

                 Rating                  Reviews
                   mean       std           mean           std
Type
Free           4.186685  0.511356  490178.951960  3.105753e+06
Not Available  4.179883  0.532431  254051.113924  1.613829e+06
Paid           4.267205  0.551468   11979.277926  1.247535e+05

In [40]:
type(df3)

pandas.core.frame.DataFrame

In [41]:
df3.columns

MultiIndex([( 'Rating', 'mean'),
            ( 'Rating',  'std'),
            ('Reviews', 'mean'),
            ('Reviews',  'std')],
           )

In [43]:
df3.loc['Free',('Rating','std')]

0.5113562249734435

In [44]:
df3.loc[:,[('Rating','mean'),('Reviews','std')]]

                 Rating       Reviews
                   mean           std
Type
Free           4.186685  3.105753e+06
Not Available  4.179883  1.613829e+06
Paid           4.267205  1.247535e+05

In [45]:
df3.columns

MultiIndex([( 'Rating', 'mean'),
            ( 'Rating',  'std'),
            ('Reviews', 'mean'),
            ('Reviews',  'std')],
           )

In [46]:
df3.sort_values(('Reviews','mean'),ascending=False)#

                 Rating                  Reviews
                   mean       std           mean           std
Type
Free           4.186685  0.511356  490178.951960  3.105753e+06
Not Available  4.179883  0.532431  254051.113924  1.613829e+06
Paid           4.267205  0.551468   11979.277926  1.247535e+05