# Python Crash Course

This notebook will just go through the basic topics in order:

* A:Data types
    * 1-Numbers
    * 2-Strings
    * 3-Printing
    * 4-Lists
    * 5-Dictionaries
    * 6-Booleans
    * 7-Tuples 
    * 8-Sets
* B:Comparison Operators
* C:if, elif, else Statements
* D:for Loops
* E:while Loops
* F:range()
* G:list comprehension
* H:functions
* I:lambda expressions
* J:map and filter
* K:methods

# A:Data types

### 1-Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

## 2-Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
s=" wrap lot's of other quotes"
s[1]
s[1:]
s[1:10]#grab 1 to 9

"wrap lot'"

### 3-Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 12
name = 'Sam'

In [19]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))# 1 method

My number is: 12, and my name is: Sam

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))#2th method

My number is: 12, and my name is: Sam

In [21]:
print('My number is: %s , and my name is: %d' %(name,num))# 3th method

My number is: Sam , and my name is: 12

#### 4-Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
my_list = ['a','b','c']

In [25]:
my_list.append('d')# Add new member

In [26]:
my_list

['a', 'b', 'c', 'd']

In [27]:
my_list[0]

'a'

In [28]:
my_list[1:3]

['b', 'c']

In [29]:
my_list[1:]# show second to end

['b', 'c', 'd']

In [30]:
my_list[:1]# show fist

['a']

In [31]:
my_list[0] = 'NEW'#set value to list

In [32]:
my_list

['NEW', 'b', 'c', 'd']

In [33]:
nest = [1,2,3,[4,5,['target']]]

In [34]:
nest[3]#Grab elements

[4, 5, ['target']]

In [35]:
nest[3][2]

['target']

In [36]:
nest[3][2][0]#with out braket

'target'

In [37]:
## 5-Dictionary. like hashtable

In [38]:
d = {'key1':'item1','key2':'item2'}

In [39]:
d

{'key1': 'item1', 'key2': 'item2'}

In [45]:
d[0]  # we coud not access with index

KeyError: 0

In [44]:
d['key1']

'item1'

In [ ]:
d['key']='Ali'#add new element

In [68]:
d

{'key1': 'Reze', 'key2': 'item2'}

In [67]:
d['key1']='Reze'#change value of a key
d

{'key1': 'Reze', 'key2': 'item2'}

In [46]:
myD={'k1':[1,2,3]}# list in Dictionary

In [47]:
myD['k1']

[1, 2, 3]

In [48]:
myD['k1'][0]

1

In [49]:
myD2={'k1':{'innerkey':[1,2,3]}}#nested Dictionary

In [50]:
myD2['k1']['innerkey'][0]

1

### 6-Booleans

In [69]:
True

True

In [70]:
False

False

### 7- Tuples -Tuple is immutable

In [52]:
t = (1,2,3)

In [53]:
t[0]

1

In [54]:
t[0] = 'NEW'#could not change value of tuple

TypeError: 'tuple' object does not support item assignment

### 8-Sets

In [63]:
s={1,2,3}
s

{1, 2, 3}

In [64]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}# make uniq elements

{1, 2, 3}

In [65]:
set([1,2,2,3,4,5,5,5])# make uniq elements

{1, 2, 3, 4, 5}

In [66]:
s.add(5)#add new element
s

{1, 2, 3, 5}

## B: Comparison Operators

In [58]:
1 > 2

False

In [59]:
1 < 2

True

In [60]:
1 >= 1

True

In [61]:
1 <= 4

True

In [57]:
1 == 1

True

In [56]:
1 != 2

True

In [55]:
'hi' == 'bye'

False

## Logic Operators

In [71]:
(1 > 2) and (2 < 3)

False

In [72]:
(1 > 2) or (2 < 3)

True

In [73]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## C:if,elif, else Statements

In [74]:
if 1 < 2:
    print('Yep!')# needs indentation

Yep!

In [75]:
if 1 < 2:
    print('yep!')

yep!

In [76]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [77]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [78]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [79]:
num=0
myvalue=20
num=12 if myvalue==10 else 13
num

13

## D:for Loops

In [80]:
seq = [1,2,3,4,5]

In [81]:
for item in seq:
    print(item)

1
2
3
4
5

In [82]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [83]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [84]:
animals=['cat','dog','monkey']
for id,animals enumerate(animals):
    print('# %d %s' %(id+1,animals))#???????????????????????

SyntaxError: invalid syntax (<ipython-input-84-4fa15bf5e354>, line 2)

## E:while Loops

In [85]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## F:range()

In [86]:
range(5)# generate numeric value (start, stop, step)

range(0, 5)

In [87]:
for i in range(5):
    print(i)

0
1
2
3
4

In [88]:
list(range(5))

[0, 1, 2, 3, 4]

In [89]:
numbers = list(range(3, 8))
print(numbers)

[3, 4, 5, 6, 7]

In [90]:
A=range(1,28)
A
list(range(len(A)))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

## G:list comprehension

In [92]:
x = [1,2,3,4]

In [93]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [94]:
out1=[item**2 for item in x] #For in 1 line
out1

[1, 4, 9, 16]

## H:functions

In [95]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [96]:
my_func

In [97]:
my_func()

default

In [98]:
my_func('new param')

new param

In [99]:
my_func(param1='new param')

new param

In [100]:
def square(x):
      return x**2

In [101]:
out = square(2)

In [102]:
print(out)

4

## I:lambda expressions# For abstract Func

In [103]:
def times2(var):
    return var*2

In [104]:
times2(2)

4

In [105]:
t=lambda var: var*2 #####equal Func definition
t(2)

4

## J:map and filter

In [106]:
seq = [1,2,3,4,5]

In [107]:
map(times2,seq) # call func for an iteration.times2 defined in line 103

In [108]:
list(map(times2,seq))# it displays with list

[2, 4, 6, 8, 10]

In [109]:
list(map(lambda var: var*2,seq))# nice

[2, 4, 6, 8, 10]

In [110]:
filter(lambda item: item%2 == 0,seq)

In [111]:
list(filter(lambda item: item%2 == 0,seq)) # filter use for iteration with a boolean value********************

[2, 4]

## K:methods

### String methods

In [143]:
st = 'hello my name is Sam'

In [113]:
st.lower()

'hello my name is sam'

In [114]:
st.upper()

'HELLO MY NAME IS SAM'

In [115]:
st.split()# make a list with space

['hello', 'my', 'name', 'is', 'Sam']

In [116]:
tweet = 'Go Sports! #Sports'

In [117]:
tweet.split('#')# split and Remove #

['Go Sports! ', 'Sports']

In [118]:
tweet.split('#')[1]

'Sports'

In [119]:
tweet.find('o')

1

In [120]:
'#'.join(tweet)

'G#o# #S#p#o#r#t#s#!# ###S#p#o#r#t#s'

In [121]:
list(tweet)

['G',
 'o',
 ' ',
 'S',
 'p',
 'o',
 'r',
 't',
 's',
 '!',
 ' ',
 '#',
 'S',
 'p',
 'o',
 'r',
 't',
 's']

In [122]:
tweet.center(40,'+')

'+++++++++++Go Sports! #Sports+++++++++++'

In [123]:
tweet.isalpha()# isalnum #isdigit

False

In [124]:
tweet.replace('!','!!')

'Go Sports!! #Sports'

In [125]:
tweet.count('!')

1

In [126]:
tweet.endswith('t')#start with('t',3,6)

False

In [127]:
tweet.index('!')

9

In [128]:
tweet.isspace()

False

In [129]:
tweet.istitle()# Start character is Captal

True

In [130]:
tweet[::-1] # reverse string

'stropS# !stropS oG'

In [131]:
tweet.strip('s')#remove first and last character

'Go Sports! #Sport'

### Dictionary methods

In [154]:
d={} #define empty Dic

In [147]:
d
d.keys()

dict_keys([])

In [135]:
d.items()

dict_items([('key1', 'Reze'), ('key2', 'item2')])

In [136]:
d.values()

dict_values(['Reze', 'item2'])

In [137]:
d.clear()# make empty dic

In [148]:
d.get('key4','It doese not')

'It doese not'

In [149]:
'item2' in d #check keys

False

In [150]:
'z' in d.keys()

False

In [151]:
y=d# ====d.copy
y

{}

In [155]:
del d    #remove d dic

In [258]:
y = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [259]:
y['k1'][3]['tricky'][3]['target'][3]# Grab 'hello'

'hello'

### List Methods

In [213]:
A=[]     #Define empty list

In [224]:
lst = [1,2,3]

In [225]:
lst.pop()# remove and return last item

3

In [226]:
lst

[1, 2]

In [227]:
first=lst.pop(0) #pop(0): remove and return first item 
first

1

In [228]:
len(lst)

1

In [229]:
lst

[2]

In [230]:
'x' in [1,2,3]

False

In [231]:
items=['x','y','z']
'x' in items

True

In [232]:
lst.extend(items)
lst

[2, 'x', 'y', 'z']

In [233]:
del items[1]
items

['x', 'z']

In [235]:
lst[lst[0]]="GOOD"
lst

[2, 'x', 'GOOD', 'z']

In [236]:
lst.remove('z')# remove first z
lst

[2, 'x', 'GOOD']

In [237]:
lst.reverse()
lst

['GOOD', 'x', 2]

In [238]:
ls1=lst.sort()# could not sort num and character
ls1

TypeError: '<' not supported between instances of 'int' and 'str'

In [239]:
sorted(lst, reverse=True)

TypeError: '<' not supported between instances of 'str' and 'int'

In [240]:
print(lst *3)

['GOOD', 'x', 2, 'GOOD', 'x', 2, 'GOOD', 'x', 2]

In [241]:
lst[2:7]=[8,9]
lst

['GOOD', 'x', 8, 9]

In [242]:
lst.insert(1,'Ali')
lst

['GOOD', 'Ali', 'x', 8, 9]

In [260]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

### Tupel metods

In [243]:
myTupel=("a","b","c")

In [244]:
'z' in myTupel

False

In [245]:
len(myTupel)

3

In [246]:
print(myTupel[0:2])

('a', 'b')

In [247]:
t=myTupel + ("t","g")
t

('a', 'b', 'c', 't', 'g')

In [248]:
del t

In [250]:
h=[(1,2),(3,4),(5,6)]#List of Tupel

In [251]:
h[0][0]

1

In [252]:
for item in h:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [253]:
for (a,b) in h:# unpackeing tupel
    print (a)

1
3
5